@model FoodSafety.Library.FollowUp

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>FollowUp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input type="date" asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" 
                        asp-items="Html.GetEnumSelectList<FoodSafety.Library.State>()">
                    <option value="">-- Select --</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosedDate" class="control-label"></label>
                <input type="date" asp-for="ClosedDate" class="form-control" />
                <span asp-validation-for="ClosedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InspectionId" class="control-label">Notes</label>
                <select asp-for="InspectionId" class ="form-control" asp-items="ViewBag.InspectionId"></select>
            </div>
            <div class="form-group mt-2 ">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="badge bg-secondary text-white p-2 mt-2 text-decoration-none" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
